.hero__title{
    text-align: center;    
    font-size: 64px;
    max-width: 800px;
    margin: 130px auto 40px;
    font-weight: 600px;
}

.hero__box{
    display: flex;
    gap: 15px;
    justify-content: center;

    p{
        padding: 8px 10px;
        background-color: #e8e5e480;border-radius: 40px;
    }
}