.catalog{
    padding: 100px 0;
}

.catalog__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    @media (max-width:1100px) {
        grid-template-columns: 1fr;
    }
}



.catalog__card{
    aspect-ratio: 1.3/1;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;

    .catalog__box{
        backdrop-filter:  blur(0px);
        height: 100%;
        transition: 0.4s;
        opacity: 0;

        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 20px;

        p{
            color: white;
        }

        button{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            background-color: #fff;
            aspect-ratio: 1;

            transform: translate(-50%, 50%);
            transition: 0.4s;

        }

        &:hover{
            backdrop-filter:  blur(20px);
            opacity: 1;
            button{
                transform: translate(0, 0);
            }
        }

        
    }



    &:nth-child(1) {
        background-image: url(https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.1s;
    }

    &:nth-child(2) {
        background-image: url(https://framerusercontent.com/images/kfr022WaJ8YJUyZFmdwCB3pXhs.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.2s;
    }

    &:nth-child(3) {
        background-image: url(https://framerusercontent.com/images/BAXywubxN8sAhfJg3AgGgFI.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.3s;
    }

    &:nth-child(4) {
        background-image: url(https://framerusercontent.com/images/3WALBX7nnuG7p85CLjlVmWPDHw.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.4s;
    }

    &:nth-child(5) {
        background-image: url(https://framerusercontent.com/images/3WALBX7nnuG7p85CLjlVmWPDHw.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.5s;
    }

    &:nth-child(6) {
        background-image: url(https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=1024
        );
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.6s;
    }

    &:nth-child(7) {
        
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.7s;
    }

    &:nth-child(8) {
        
        animation: slideUp 1s ease forwards;
        opacity: 0;
        animation-delay: 0.8s;
    }

    &.catalog__cardvideo {
        position: relative;
        display: block;
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }
}
